# **Module 2 - Data Wrangling**

Ciencia y Analítica de Datos

José Eduardo Arteaga Valdés

A01273800

**Pre processing data or data cleaning.**
* Identify and handle missing values
* Data formatting
* Data normalization
* Data Binning (comparisson of groups of data)
* Turning Categorical values to numerica variables

**Missing Value**

Podemos encontrarla como [?, 0, blank space, Nan]. Podemos borrar toda la variable, o borrar toda la fila. Sin embargo, es mejor reemplzar la var faltante con otro valor. Soluciones sencillas serían:
* media o mediana
* moda (frecuencia)

**¿Cómo borramos datos?**
```
#dataframes.dropna()
#encontramos todos los NaN de una columna y borramos esa fila

df.dropna(subset =["price"], axis=0, inplace=True)
```

O podemos usar replace:
```
#quitamos NaN con otra var, como promedio:

mean = df["normalized-losses"].mean()
df["normalized-losses"].replace(np.nan, mean)
```

**Data Formatting**

Datos con diferentes formatos. Por lo que necesitamos estandarizar su formato para hacer que sea sencilla de utilizar y entender.
* NY - New York
* New York - New York
* N.Y. - New York

O por ejemplo, podemos tener dos fuentes de datos, una utiliza metros, y otra pies/pulgadas.

**Incluso**, en ocasiones el datatype de los datos puede ser incorrecto. Un número puede ser un string o un object, en lugar de float.

```
#encontrar el tipo de datos de un df
dataframe.dtypes()

#cambiarlo
dataframe.astype()

#por ejemplo, cambiamos toda la columna de price a integer
df["price"] = df["price"].astype("int")
```

**Data Normalization**

En esta caso, podemos utilizar métodos como: Normalización min-max.
* El valor mínimo del conjunto de datos es 0
* El valor máximo del conjunto de datos es 1
* Todos los demás valores viven entre el 0 y el 1

Útil cuando comparamos datos de dos escalas diferentes.

```
df["length"] = (df["length"]-df["length"].min())/
               (df["length"].max()-df["length"].min())
```

**¿Por qué es importante?**

En una regresión lineal, si una columna tiene valores muy grandes en comparación a otra columna, esta influenciará con mayor fuerza la predicción.

Es decir, si queremos que todas las columnas (variables) de nuestra regresión tengan el mismo valor, entonces debemos normalizar.

**Binning**

Agrupar valores en bins. Puede mejorar la precisión de las predicciones. Y podemos entender mejor la distribución. Es como separar un range de precios en [low, medium, high].

```
#creamos 4 números que parten al arreglo en 3 pedazos
bins = np.linspace(min(df["price"]), max(df["price"]), 4)

#creamos los nombres de cada rango
group_names = ["Low", "Medium", "High"]

#usamos cut para crear la nueva columna y segmentarla según lo que definimos
df["price-binned"] = pd.cut(df["price"], bons, labels=group_names, include_lowest=True)
```

**Categorical values a -> Quantitive variables**

Muchos modelos no pueden procesor strings u objects como inputs. Necesitamos números.

Por ejemplo, en una base de datos de autos, necesitamos convertir el tipo de combustible a números. Por ejemplo, podemos crear dos columnas nuevas "gasolina" y "diesel". Si un auto es a gas, tendra 1 en la columna de "gasolina" y un 0 en "diesel".

Esto se puede generar automáticamente con dummies en Py:

```
pd.get_dummies(df["fuel"])

#esto toma la columna con valores de "gasoline" y "diesel" y lo convierte en dos columnas nuevas. como descrito arriba.
```

# Fotos de Graded Questions:

Las evidencias se encuentran en esta carpeta: https://drive.google.com/drive/folders/1DvM_OeyD04LVPM9X35Qoa6Tu0oGbDjZd?usp=sharing

# Lab 2

**Question 1**

Based on the example above, replace NaN in "stroke" column with the mean value.

In [ ]:
#Promedio de stroke
promedioStroke = df["stroke"].astype("float").mean(axis = 0)

#Reemplazo
df["stroke"].replace(np.nan, promedioStroke, inplace = True)

**Question 2**

According to the example above, transform mpg to L/100km in the column of "highway-mpg" and change the name of column to "highway-L/100km".

In [ ]:
#Considerando que 1 milla por galón es igual a 235.215 litros por 100 km,
#la conversión sería:
df["highway-mpg"] = 235.215/df["highway-mpg"]

#Renombrar columna
df.rename(columns = {'highway-mpg':'highway-L/100km'}, inplace = True)

**Question 3**

According to the example above, normalize the column "height".

In [ ]:
#Considerando la fórmula [nuevo] = [antiguo]/[val. máx.],
#la normalización sería:
df['height'] = df['height']/df['height'].max()

**Question 4**

Similar to before, create an indicator variable for the column "aspiration"

In [ ]:
#Indicador
dummyVar = pd.get_dummies(df['aspiration'])

**Question 5**

Merge the new dataframe to the original dataframe, then drop the column 'aspiration'.

In [ ]:
#Cambio de nombres en las columnas
dummyVar.rename(columns={'std':'aspiration-std', 'turbo': 'aspiration-turbo'}, inplace=True)

#Concatenar
df = pd.concat([df, dummyVar], axis=1)

#Eliminar columna aspiration
df.drop('aspiration', axis = 1, inplace=True)